body {
	background:
		url("https://i.pinimg.com/originals/a1/2c/28/a12c28752c48358de9026c43b41852a6.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-family: serif;
	text-align: center;
	text-decoration: underline;
}

h2 {
	font-family: serif;
	text-align: center;
	text-decoration: underline;
}

.mainList {
	height: 50px;
	width: 500px;
	background-color: rgba(0, 0, 0, 0.2);
	color: darkred;
	text-align: center;
	margin: 10px auto;
	font-weight: 100;
	font-size: 20px;
}